{% extends 'base/base.html' %}
{% load static %}

{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'css/equipos_info_styles.css' %}">

{% endblock %}


{% block content %}
<section class="banner contenido">

    <div class="team-selector">

        <a href="?team_id={{team_id | add:-3}}"><img src="/static/images/logos/imagen_equipo_{{team_id | add:-3}}.png" alt=""></a>
        <a href="?team_id={{team_id | add:-2}}"><img src="/static/images/logos/imagen_equipo_{{team_id | add:-2}}.png" alt=""></a>
        <a href="?team_id={{team_id | add:-1}}"><img src="/static/images/logos/imagen_equipo_{{team_id | add:-1}}.png" alt=""></a>
 
        <a href="?team_id={{team_id}}"><img src="/static/images/logos/imagen_equipo_{{team_id}}.png" alt=""></a>

        <a href="?team_id={{team_id | add:1}}"><img src="/static/images/logos/imagen_equipo_{{team_id | add:1}}.png" alt=""></a>
        <a href="?team_id={{team_id | add:2}}"><img src="/static/images/logos/imagen_equipo_{{team_id | add:2}}.png" alt=""></a>
        <a href="?team_id={{team_id | add:3}}"><img src="/static/images/logos/imagen_equipo_{{team_id | add:3}}.png" alt=""></a>

    </div>

    <div class="team">

        <a href="?team_id={{team_id | add:-1}}">
            <img src="/static/images/logos/arrow.png" class="arrow-left" id="arrow">
        </a>

        <div class="card" style="width: 18rem">


            <div class="contenedor-img">

                <img src="/static/images/logos/imagen_equipo_{{team_id}}.png" id="imagen-equipo">

            </div>

            <div class="card-body">
            
                <h5 class="card-title">{{ equipo }}</h5>

            </div>

        </div>

        <a href="?team_id={{team_id | add:1}}">
            <img src="/static/images/logos/arrow.png" class="arrow-right" id="arrow">
        </a>
    </div>

    <div class="players">
        <div class="jugadores tabla1">
            <table class="table table-bordered">
                <th>Nombre jugador</th>
                <th>Numero</th>
                <th>Posición</th>
                {% for jugador in jugadores1 %}
                    <tr>
                        <td>{{jugador}}</td>
                        <td>{{jugador.number}}</td>
                        <td>{{jugador.get_position}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="jugadores tabla2">
            <table class="table table-bordered">
                <th>Nombre jugador</th>
                <th>Numero</th>
                <th>Posición</th>
                {% for jugador in jugadores2 %}
                    <tr>
                        <td>{{jugador}}</td>
                        <td>{{jugador.number}}</td>
                        <td>{{jugador.get_position}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        
    </div>
</section>
{% endblock %}